# Health Analysis Projects(Pandas)

In [3]:
# Hospital Mini Projects Using Numpy,Pandas,pyodbc
!pip install numpy
!pip install pandas
!pip install pyodbc

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pyodbc in c:\users\user\anaconda3\lib\site-packages (5.1.0)

In [45]:
import numpy as np
import pandas as pd 
import pyodbc

#pyodbc
- pyodbc - it is Python Open Source Database Connection.
- API - Application Programming Interface.

- Client - I am 
- Waiter - API
- Kitchen - Database

In [3]:
from warnings import filterwarnings
import pyodbc
import pandas as pd

filterwarnings('ignore')

# Define Connection
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=LAPTOP-IDSEH902\\SQLEXPRESS;'
    'DATABASE=Hospital;'
    'Trusted_Connection=yes;'
)

# Query the Table
query = "SELECT * FROM Health"
df = pd.read_sql_query(query, conn)

# Display the Data
print(df.head())

   Patient_ID  Age  Gender         City        Department  Visit_Date  \
0           1   69  Female      Phoenix  General Medicine  2023-03-04
1           2   32    Male      Phoenix        Pediatrics  2021-03-20
2           3   89  Female      Houston  General Medicine  2023-07-26
3           4   78  Female      Houston        Cardiology  2022-12-08
4           5   38  Female  Los Angeles        Pediatrics  2021-10-16

      Diagnosis  Treatment_Cost Follow_Up  Satisfaction_Score  Year Locating
0           Flu    13093.750000        No                  10  2023     High
1      Diabetes    11131.790039        No                   5  2021     High
2      Migraine     1822.609985        No                   9  2023      Low
3      Migraine    17714.339844        No                   5  2022     High
4  Hypertension    10400.339844       Yes                   3  2021     High

# PANDAS – QUESTIONS :

In [4]:
df.shape

(15000, 12)

In [5]:
df.size

180000

In [6]:
df.head()

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score,Year,Locating
0,1,69,Female,Phoenix,General Medicine,2023-03-04,Flu,13093.750000,No,10,2023,High
1,2,32,Male,Phoenix,Pediatrics,2021-03-20,Diabetes,11131.790039,No,5,2021,High
2,3,89,Female,Houston,General Medicine,2023-07-26,Migraine,1822.609985,No,9,2023,Low
3,4,78,Female,Houston,Cardiology,2022-12-08,Migraine,17714.339844,No,5,2022,High
4,5,38,Female,Los Angeles,Pediatrics,2021-10-16,Hypertension,10400.339844,Yes,3,2021,High

In [7]:
df.tail()

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score,Year,Locating
14995,14996,71,Male,Houston,General Medicine,2022-11-19,Fracture,9244.549805,Yes,8,2022,Low
14996,14997,32,Female,Chicago,Orthopedics,2022-02-22,Diabetes,16254.030273,No,3,2022,High
14997,14998,67,Male,New York,General Medicine,2021-10-23,Migraine,5294.029785,No,7,2021,Low
14998,14999,73,Male,New York,Cardiology,2022-06-01,Diabetes,16262.639648,No,10,2022,High
14999,15000,26,Male,Chicago,Orthopedics,2022-06-06,Migraine,5087.459961,No,10,2022,Low

<br><br>

In [8]:
#1. Unique Patient Count:-
df['Patient_ID'].nunique()

15000

In [10]:
#2. Average Age of Patient’s
{round(df['Age'].mean(),2)}

{53.45}

In [11]:
#3. Patient Count by Gender.
df.groupby('Gender').size().reset_index(name='Patient_Count')

   Gender  Patient_Count
0  Female           7265
1    Male           7103
2   Other            632

In [12]:
#4. Average Treatment cost by Department 
df.groupby('Department')['Treatment_Cost'].mean()

Department
Cardiology          10398.830209
General Medicine    10195.037009
Neurology           10284.387265
Orthopedics         10149.271248
Pediatrics          10254.057198
Name: Treatment_Cost, dtype: float64

In [13]:
#5. (Min-Max) Satisfaction score by Diagnosis
df.groupby('Diagnosis')['Satisfaction_Score'].agg(['min', 'max'])

              min  max
Diagnosis
Diabetes        1   10
Flu             1   10
Fracture        1   10
Hypertension    1   10
Migraine        1   10

In [14]:
#6. Patient Visits per city 
df['City'].value_counts()

City
Houston        3097
Los Angeles    3050
New York       2972
Phoenix        2956
Chicago        2925
Name: count, dtype: int64

In [15]:
#7. Follow-up Status Distribution (%)
df['Follow_Up'].value_counts(normalize=True) * 100

Follow_Up
No     70.006667
Yes    29.993333
Name: proportion, dtype: float64

In [18]:
#8. Department with Highest Number of visits
df['Department'].value_counts().sort_values(ascending = False)

Department
Orthopedics         3021
Pediatrics          3015
Cardiology          3015
General Medicine    3000
Neurology           2949
Name: count, dtype: int64

In [19]:
#9. City with Highest Average Treatment Cost 
df.groupby('City')['Treatment_Cost'].mean().sort_values(ascending = False)

City
Los Angeles    10325.138265
Houston        10294.951862
New York       10288.433192
Phoenix        10233.629117
Chicago        10133.403181
Name: Treatment_Cost, dtype: float64

In [ ]:
#10. Correlation between age and treatment cost (Approximate using COVAR and STDEV)

In [20]:
#11. Patients with Satisfactory score > 8
df[df['Satisfaction_Score'] > 8]

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score,Year,Locating
0,1,69,Female,Phoenix,General Medicine,2023-03-04,Flu,13093.750000,No,10,2023,High
2,3,89,Female,Houston,General Medicine,2023-07-26,Migraine,1822.609985,No,9,2023,Low
7,8,39,Female,Los Angeles,General Medicine,2023-05-22,Hypertension,2685.760010,No,9,2023,Low
11,12,55,Male,Phoenix,Cardiology,2022-05-17,Flu,7719.770020,No,9,2022,Low
12,13,19,Male,Houston,Cardiology,2023-12-08,Fracture,17171.800781,No,10,2023,High
...,...,...,...,...,...,...,...,...,...,...,...,...
14990,14991,33,Male,Phoenix,Pediatrics,2023-05-13,Diabetes,10586.509766,No,10,2023,High
14991,14992,24,Other,New York,General Medicine,2022-09-07,Hypertension,11914.509766,No,10,2022,High
14992,14993,25,Male,Phoenix,Orthopedics,2023-08-21,Flu,547.580017,Yes,9,2023,Low
14998,14999,73,Male,New York,Cardiology,2022-06-01,Diabetes,16262.639648,No,10,2022,High
14999,15000,26,Male,Chicago,Orthopedics,2022-06-06,Migraine,5087.459961,No,10,2022,Low

In [23]:
#12. Average cost for Follow-up patients
df[df['Follow_Up'] == 'Yes']['Treatment_Cost'].mean()

10231.877902168093

In [24]:
#13. Diagnosis Distribution type by department.
df.groupby('Department')['Diagnosis'].value_counts()

Department        Diagnosis
Cardiology        Diabetes        657
                  Fracture        633
                  Migraine        595
                  Hypertension    586
                  Flu             544
General Medicine  Flu             619
                  Hypertension    615
                  Migraine        602
                  Fracture        588
                  Diabetes        576
Neurology         Hypertension    599
                  Migraine        595
                  Diabetes        593
                  Fracture        591
                  Flu             571
Orthopedics       Diabetes        622
                  Migraine        611
                  Hypertension    609
                  Fracture        605
                  Flu             574
Pediatrics        Diabetes        642
                  Migraine        641
                  Fracture        599
                  Flu             575
                  Hypertension    558
Name: count, dtype: int64

In [26]:
#14. Diagnosis with Highest total Treatment cost 
df.groupby('Diagnosis')['Treatment_Cost'].sum().sort_values(ascending = False)

Diagnosis
Diabetes        3.215115e+07
Migraine        3.145812e+07
Fracture        3.054809e+07
Hypertension    3.048613e+07
Flu             2.919969e+07
Name: Treatment_Cost, dtype: float64

In [27]:
#15. Top 5 Most Expensive Treatments
df.sort_values('Treatment_Cost', ascending=False).head(5)

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score,Year,Locating
11248,11249,56,Female,Houston,General Medicine,2023-04-07,Hypertension,19999.839844,No,4,2023,High
252,253,71,Female,Chicago,Pediatrics,2021-09-15,Fracture,19997.410156,No,5,2021,High
4201,4202,66,Male,Los Angeles,Cardiology,2022-11-25,Fracture,19997.240234,No,2,2022,High
11447,11448,56,Female,New York,Neurology,2023-04-19,Hypertension,19996.019531,Yes,3,2023,High
8855,8856,20,Other,Phoenix,General Medicine,2021-10-25,Migraine,19995.210938,No,3,2021,High

In [29]:
#16. Create a column to extract the year from the visit date 
df['Year'] = pd.to_datetime(df['Visit_Date']).dt.year

In [30]:
# For see Table datas
df

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score,Year,Locating
0,1,69,Female,Phoenix,General Medicine,2023-03-04,Flu,13093.750000,No,10,2023,High
1,2,32,Male,Phoenix,Pediatrics,2021-03-20,Diabetes,11131.790039,No,5,2021,High
2,3,89,Female,Houston,General Medicine,2023-07-26,Migraine,1822.609985,No,9,2023,Low
3,4,78,Female,Houston,Cardiology,2022-12-08,Migraine,17714.339844,No,5,2022,High
4,5,38,Female,Los Angeles,Pediatrics,2021-10-16,Hypertension,10400.339844,Yes,3,2021,High
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14996,71,Male,Houston,General Medicine,2022-11-19,Fracture,9244.549805,Yes,8,2022,Low
14996,14997,32,Female,Chicago,Orthopedics,2022-02-22,Diabetes,16254.030273,No,3,2022,High
14997,14998,67,Male,New York,General Medicine,2021-10-23,Migraine,5294.029785,No,7,2021,Low
14998,14999,73,Male,New York,Cardiology,2022-06-01,Diabetes,16262.639648,No,10,2022,High
14999,15000,26,Male,Chicago,Orthopedics,2022-06-06,Migraine,5087.459961,No,10,2022,Low

In [31]:
#17. Find the Number of Visits per year 
df['Year'].value_counts().sort_index()

Year
2021    5040
2022    4996
2023    4964
Name: count, dtype: int64

In [32]:
#18. What is the median treatment cost by gender and diagnosis 
df.groupby(['Gender', 'Diagnosis'])['Treatment_Cost'].median()

Gender  Diagnosis
Female  Diabetes        10464.959961
        Flu             10242.070312
        Fracture        10158.669922
        Hypertension    10477.500000
        Migraine        10615.410156
Male    Diabetes        10547.699707
        Flu             10259.160156
        Fracture         9794.629883
        Hypertension    10297.160156
        Migraine        10388.089844
Other   Diabetes        11221.410156
        Flu             10389.819824
        Fracture        11716.160156
        Hypertension    11210.660156
        Migraine         9639.094727
Name: Treatment_Cost, dtype: float64

In [33]:
#19. Add a column locating if cost > 10000 is “High” or “Low”
df['Locating'] = df['Treatment_Cost'].apply(lambda x: 'High' if x > 10000 else 'Low')

In [34]:
df

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score,Year,Locating
0,1,69,Female,Phoenix,General Medicine,2023-03-04,Flu,13093.750000,No,10,2023,High
1,2,32,Male,Phoenix,Pediatrics,2021-03-20,Diabetes,11131.790039,No,5,2021,High
2,3,89,Female,Houston,General Medicine,2023-07-26,Migraine,1822.609985,No,9,2023,Low
3,4,78,Female,Houston,Cardiology,2022-12-08,Migraine,17714.339844,No,5,2022,High
4,5,38,Female,Los Angeles,Pediatrics,2021-10-16,Hypertension,10400.339844,Yes,3,2021,High
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14996,71,Male,Houston,General Medicine,2022-11-19,Fracture,9244.549805,Yes,8,2022,Low
14996,14997,32,Female,Chicago,Orthopedics,2022-02-22,Diabetes,16254.030273,No,3,2022,High
14997,14998,67,Male,New York,General Medicine,2021-10-23,Migraine,5294.029785,No,7,2021,Low
14998,14999,73,Male,New York,Cardiology,2022-06-01,Diabetes,16262.639648,No,10,2022,High
14999,15000,26,Male,Chicago,Orthopedics,2022-06-06,Migraine,5087.459961,No,10,2022,Low

In [36]:
#20.What Percentage of patients are from “Cardiology”
(df['Department'].value_counts(normalize=True)['Cardiology']) * 100

20.1

In [37]:
#21. What are the top 3 departments with the lowest satisfaction scores
df.groupby('Department')['Satisfaction_Score'].mean().nsmallest(3)

Department
Orthopedics         5.412115
General Medicine    5.443667
Cardiology          5.511774
Name: Satisfaction_Score, dtype: float64

In [38]:
#22.Which age group (by decades) has the highest number of visits
df['Age_Group'] = (df['Age'] // 10) * 10
df['Age_Group'].value_counts().sort_index()

Age_Group
10     408
20    2011
30    2229
40    2081
50    2007
60    2098
70    2116
80    2050
Name: count, dtype: int64

In [40]:
#23.Gender has the Highest Average Satisfaction scores
df.groupby('Gender')['Satisfaction_Score'].mean().sort_values(ascending = False)

Gender
Male      5.506547
Female    5.483001
Other     5.433544
Name: Satisfaction_Score, dtype: float64

In [41]:
#24. How many patient’s visited in 2023 alone.
df[pd.to_datetime(df['Visit_Date']).dt.year == 2023]

,Patient_ID,Age,Gender,City,Department,Visit_Date,Diagnosis,Treatment_Cost,Follow_Up,Satisfaction_Score,Year,Locating,Age_Group
0,1,69,Female,Phoenix,General Medicine,2023-03-04,Flu,13093.750000,No,10,2023,High,60
2,3,89,Female,Houston,General Medicine,2023-07-26,Migraine,1822.609985,No,9,2023,Low,80
5,6,41,Female,Phoenix,Neurology,2023-09-04,Hypertension,7038.740234,No,5,2023,Low,40
6,7,20,Male,Houston,Orthopedics,2023-08-19,Diabetes,15697.500000,Yes,6,2023,High,20
7,8,39,Female,Los Angeles,General Medicine,2023-05-22,Hypertension,2685.760010,No,9,2023,Low,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14984,14985,63,Other,New York,Orthopedics,2023-06-19,Diabetes,11647.179688,No,9,2023,High,60
14986,14987,34,Male,Chicago,General Medicine,2023-08-16,Diabetes,9355.339844,No,9,2023,Low,30
14987,14988,83,Female,Houston,Pediatrics,2023-10-28,Hypertension,7164.029785,Yes,7,2023,Low,80
14990,14991,33,Male,Phoenix,Pediatrics,2023-05-13,Diabetes,10586.509766,No,10,2023,High,30
14992,14993,25,Male,Phoenix,Orthopedics,2023-08-21,Flu,547.580017,Yes,9,2023,Low,20

In [44]:
#25. Create a PIVOT : Average cost by gender and department.
df.pivot_table(values='Treatment_Cost', index='Gender', columns='Department', aggfunc='mean')

Department,Cardiology,General Medicine,Neurology,Orthopedics,Pediatrics
Gender,,,,,
Female,10455.942327,10101.144726,10464.189060,10198.771050,10362.229187
Male,10308.397683,10276.816097,10107.227868,10048.126118,10137.188842
Other,10776.153583,10299.166862,10179.669310,10740.771544,10290.507356